@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>網路爬蟲</h2>
<br />
<table>
    <tr>
        <td>
            <label for="dropdownMenuButton" class="col-md-12 col-form-label">野村台灣運籌基金：</label>
        </td>
        <td>
            <select name="網站名稱" class="form-control" id="dropdownMenuButton">
                <option value="001">鉅亨網</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="dropdownMenuButton" class="col-md-12 col-form-label">摩根新興科技基金：</label>
        </td>
        <td>
            <select name="網站名稱" class="form-control" id="dropdownMenuButton">
                <option value="002">MoneyDJ理財網</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="dropdownMenuButton" class="col-md-12 col-form-label">統一大滿貫基金：</label>
        </td>
        <td>
            <select name="網站名稱" class="form-control" id="dropdownMenuButton">
                <option value="003">智富網</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="dropdownMenuButton" class="col-md-12 col-form-label">匯率：</label>
        </td>
        <td>
            <select name="銀行名稱" class="form-control" id="dropdownMenuButton">
                <option value="001">臺灣銀行</option>
            </select>
        </td>
        <td>
            &nbsp;&nbsp;選擇 臺灣銀行。
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
            &nbsp;
            <button type="button" class="btn btn-primary">送審</button>
            <button type="button" class="btn btn-danger">返回</button>
        </td>
    </tr>
</table>
<br />
<br />
