
@{
    ViewBag.Title = "FundsAuditQuota";
}

<h2>基金稽核指標設定</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">投組名稱</th>
            <th scope="col">稽核法規代碼</th>
            <th scope="col">生效日期</th>
            <th scope="col">契約約定值</th>
            <th scope="col">稽核設定值</th>
            <th scope="col">財務設定值</th>
            <th scope="col">是否啟用</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Q1</td>
            <td>2018/7/6</td>
            <td>8</td>
            <td>8</td>
            <td>8</td>
            <td>是</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Q1</td>
            <td>2018/7/16</td>
            <td>8</td>
            <td>8</td>
            <td>8</td>
            <td>是</td>
        <tr>
            <th scope="row">3</th>
            <td>Q1</td>
            <td>2018/7/26</td>
            <td>7</td>
            <td>8</td>
            <td>8</td>
            <td>否</td>
        </tr>
        </tr>
    </tbody>
</table>

