@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>新增債券基本資料</h2>
<br />

<style>
    h2{
        font-family : '微軟正黑體';
        font-weight : bold;
        color : royalblue;
    }

    table {
        font-family: '微軟正黑體';
    }

</style>
<form>
    <div class="form-group row">
        <label for="inputEmail3" class="col-md-1 col-form-label">債券代碼</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="A84304">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-md-1 col-form-label">債券名稱</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputPassword3" placeholder="84中央交建甲四">
        </div>
        <label for="inputEmail3" class="col-md-1 col-form-label">債券簡稱</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputPassword3" placeholder="84交建甲四">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-md-1 col-form-label">債券種類</label>
        <div class="col-sm-10">
            <select class="form-control">
                <option value="Taiwan">政府公債</option>
                <option value="Taiwan">公司債</option>
                <option value="Taiwan">金融債</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-md-1 col-form-label">擔保種類</label>
        <div class="col-sm-4">
            <select class="form-control">
                <option value="Taiwan">公債</option>
            </select>
        </div>
        <label for="inputEmail3" class="col-md-1 col-form-label">市場別</label>
        <div class="col-sm-4">
            <select class="form-control">
                <option value="Taiwan">上櫃</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-md-1 col-form-label">國別</label>
        <div class="col-sm-4">
            <select class="form-control">
                <option value="Taiwan">台灣</option>
            </select>
        </div>
        <label for="inputEmail3" class="col-md-1 col-form-label">幣別</label>
        <div class="col-sm-4">
            <select class="form-control">
                <option value="TWD">台幣</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="button" class="btn btn-success">送出</button>
            <button type="button" class="btn btn-danger">清除重填</button>
        </div>
    </div>
    <hr />
    <table class="table table-hover table-bordered">
        <tr>
            <th colspan="4" style="text-align:center">債券代碼 A84304</th>
        </tr>
        <tr>
            <th scope="col">債券名稱</th>
            <td>84中央交建甲四</td>
            <th scope="col">債券簡稱</th>
            <td>84交建甲四</td>
        </tr>
        <tr>
            <th scope="col">債券種類</th>
            <td>政府公債</td>
            <th scope="col">擔保種類</th>
            <td>公債</td>
        </tr>
        <tr>
            <th scope="col">國家別</th>
            <td>Taiwan</td>
            <th scope="col">發行日期</th>
            <td>1070726</td>
        </tr>
        <tr>
            <th scope="col">到期日期</th>
            <td>00990616</td>
            <th scope="col">發行總額</th>
            <td>2,0000,000,000元</td>
        </tr>
        <tr>
            <th scope="col">票面利率</th>
            <td>8.00000000%</td>
            <th scope="col">利率類別</th>
            <td></td>
        </tr>
        <tr>
            <th scope="col">付息次數</th>
            <td>1</td>
            <th scope="col">發行公司</th>
            <td></td>
        </tr>
        <tr>
            <th scope="col">發行期間</th>
            <td>15.00年</td>
            <th scope="col">標定性質</th>
            <td></td>
        </tr>
        <tr>
            <th colspan="4">
                <div>
                    <button type="button" class="btn btn-info" style="align-content:center">編輯</button>
                    <button type="button" class="btn btn-danger" style="align-content:center">刪除</button>
                </div>
            </th>
        </tr>
    </table>
</form>
