
@{
    ViewBag.Title = "SecuritiesCapitalStockReport";
}

<h2> 證券股本比率控管表</h2>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="1">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<button class="btn btn-success my-2 my-sm-0">Export</button>
<br /><br />

<table border="1px" class="table table-bordered table-condensed">
    <tbody>
        <tr>
            <td><label>投組名稱</label></td>
            <td colspan="3">1</td>
        </tr>
        <tr>
            <td><label for="UserName">證券名稱</label></td>
            <td>Test</td>
            <td><label for="Email">公司發行張數</label></td>
            <td>2000000</td>
        </tr>
        <tr>
            <td><label>持有張數</label></td>
            <td>10000</td>
            <td><label>股本比率</label></td>
            <td>5%</td>
        </tr>
        <tr>
            <td><label>尚可加碼投資張數</label></td>
            <td colspan="3">50000</td>
        </tr>
        <tr>
            <td><label>警示訊息</label></td>
            <td colspan="3">353222090775399</td>
        </tr>
    </tbody>
</table>

