@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>證券投資決定維護作業</h2>
<br />
<form>
    <div class="container">
        <div class="form-group col-md-4">
            <label for="dropdownMenuButton">基金名稱</label>
            <select name="基金名稱" class="form-control" id="dropdownMenuButton">
                <option value="0001">0001 新制勞工退休基金</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>依據編號</label>
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    <div class="container">
        <div class="form-group col-md-2">
            <label>決定書編號</label>
            <input type="text" class="form-control" placeholder="編號產生中">
        </div>
        <div class="form-group col-md-4">
            <label>決定書日期</label>
            <input type="text" class="form-control" placeholder="2018/07/26">
        </div>
        <div class="form-group col-md-2">
            <label for="dropdownMenuButton">證券代碼</label>
            <select name="證券代碼" class="form-control" id="dropdownMenuButton">
                <option value="1101">1101 台泥</option>
            </select>
        </div>
    </div>
    <div class="container">
        <div class="form-group col-md-2">
            <label for="dropdownMenuButton">交易種類</label>
            <select name="交易種類" class="form-control" id="dropdownMenuButton">
                <option value="001">普通股</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>股數</label>
            <input type="text" class="form-control" placeholder="99">
        </div>
        <div class="form-group col-md-4">
            <label>價格區間</label><br />
            <input type="radio" name="interval1" value="male"> 市價
            <input type="radio" name="interval2" value="female"> 限價
            <input type="radio" name="interval3" value="other"> 區間價
        </div>
    </div>
    <div class="container">
        <div class="form-group col-md-2">
            <label>買進價格</label>
            <input type="text" class="form-control" placeholder="買進價格">
        </div>
        <div class="form-group col-md-2">
            <label>賣出價格</label>
            <input type="text" class="form-control" placeholder="賣出價格">
        </div>
        <div class="form-group col-md-2">
            <label for="dropdownMenuButton">理由</label>
            <select name="理由" class="form-control" id="dropdownMenuButton">
                <option value="001">建立部位</option>
            </select>
        </div>
    </div>
    <div class="container">
        <div class="form-group col-md-2">
            <label>買進總金額</label>
            <input type="text" class="form-control" placeholder="買進總金額">
        </div>
        <div class="form-group col-md-2">
            <label>賣出總金額</label>
            <input type="text" class="form-control" placeholder="賣出總金額">
        </div>
    </div>
    <div class="container">
        <div class="form-group col-md-2">
            <button type="button" class="btn btn-success">送出</button>
        </div>
        <div class="form-group col-md-2">
            <button type="button" class="btn btn-danger">清除重填</button>
        </div>
    </div>
</form>
<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">投組名稱</th>
            <th scope="col">依據編號</th>
            <th scope="col">決定書編號</th>
            <th scope="col">決定書日期</th>
            <th scope="col">證券代碼</th>
            <th scope="col">交易種類</th>
            <th scope="col">股數</th>
            <th scope="col">價格區間</th>
            <th scope="col">買進價格</th>
            <th scope="col">賣出價格</th>
            <th scope="col">理由</th>
            <th scope="col">買進總金額</th>
            <th scope="col">賣出總金額</th>
            <th scope="col">動作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>A</td>
            <td>001</td>
            <td>001</td>
            <td>2018/07/26</td>
            <td>2303</td>
            <td>普通股</td>
            <td>99</td>
            <td>99</td>
            <td>15.5</td>
            <td>25.5</td>
            <td>(無)</td>
            <td>1534.5</td>
            <td>2524.5</td>
            <td>
                <button type="button" class="btn btn-primary">編輯</button>
                <button type="button" class="btn btn-danger">刪除</button>
            </td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>B</td>
            <td>002</td>
            <td>002</td>
            <td>2018/07/26</td>
            <td>2323</td>
            <td>普通股</td>
            <td>99</td>
            <td>99</td>
            <td>15.5</td>
            <td>25.5</td>
            <td>(無)</td>
            <td>1534.5</td>
            <td>2524.5</td>
            <td>
                <button type="button" class="btn btn-primary">編輯</button>
                <button type="button" class="btn btn-danger">刪除</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>C</td>
            <td>003</td>
            <td>003</td>
            <td>2018/07/26</td>
            <td>2884</td>
            <td>普通股</td>
            <td>99</td>
            <td>99</td>
            <td>15.5</td>
            <td>25.5</td>
            <td>(無)</td>
            <td>1534.5</td>
            <td>2524.5</td>
            <td>
                <button type="button" class="btn btn-primary">編輯</button>
                <button type="button" class="btn btn-danger">刪除</button>
            </td>
        </tr>
    </tbody>
</table>
