@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>證券買進周轉率評比表</h2>
<br />
<br />
<tr>
    <td>
        <label for="query1" class="col-sm-2 col-form-label">查詢日期(起)</label>
    </td>
    <td>
        <input type="text" class="form-control col-sm-2" id="query1" placeholder="2018/07/01">
    </td>
    <td>
        <label for="query2" class="col-sm-2 col-form-label">查詢日期(迄)</label>
    </td>
    <td>
        <input type="text" class="form-control col-sm-2" id="query2" placeholder="2018/07/26">
    </td>
</tr>
<br />
<br />
<tr>
    <td>
        <label for="query3" class="col-sm-2 col-form-label">股票代碼</label>
    </td>
    <td>
        <input type="text" class="form-control col-sm-2" id="query3" placeholder="1234">
    </td>
    &nbsp;
    <td>
        <button type="button" class="btn btn-primary">查詢</button>
        <button type="button" class="btn btn-danger">清除</button>
    </td>
</tr>
<br />
<button type="button" class="btn btn-success">輸出</button>
<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">投組名稱</th>
            <th scope="col">一個月</th>
            <th scope="col">兩個月</th>
            <th scope="col">三個月</th>
            <th scope="col">六個月</th>
            <th scope="col">一年</th>
            <th scope="col">兩年</th>
            <th scope="col">三年</th>
            <th scope="col">動作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>雙鴻</td>
            <td>97.20</td>
            <td>232.44</td>
            <td>110.96</td>
            <td>111.81</td>
            <td>134.64</td>
            <td>95.46</td>
            <td>235.57</td>
            <td>
                <button type="button" class="btn btn-primary">編輯</button>
                <button type="button" class="btn btn-danger">刪除</button>
            </td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>力致</td>
            <td>27.05</td>
            <td>94.03</td>
            <td>26.83</td>
            <td>100.66</td>
            <td>66.98</td>
            <td>78.87</td>
            <td>49.77</td>
            <td>
                <button type="button" class="btn btn-primary">編輯</button>
                <button type="button" class="btn btn-danger">刪除</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>鴻碩</td>
            <td>33.40</td>
            <td>122.60</td>
            <td>108.96</td>
            <td>81.54</td>
            <td>112.32</td>
            <td>192.03</td>
            <td>87.78</td>
            <td>
                <button type="button" class="btn btn-primary">編輯</button>
                <button type="button" class="btn btn-danger">刪除</button>
            </td>
        </tr>
    </tbody>
</table>