@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>證券投資依據報表</h2>
<br />
<label for="dropdownMenuButton" class="col-sm-2 col-form-label">基金名稱</label>
    <select name="基金名稱" class="form-control" id="dropdownMenuButton">
        <option value="0001">0001 新制勞工退休基金</option>
    </select>
<br />
<tr>
    <td>
        <label for="query1" class="col-sm-2 col-form-label">查詢日期(起)</label>
    </td>
    <td>
        <input type="text" class="form-control col-sm-2" id="query1" placeholder="2018/07/01">
    </td>
    <td>
        <label for="query2" class="col-sm-2 col-form-label">查詢日期(迄)</label>
    </td>
    <td>
        <input type="text" class="form-control col-sm-2" id="query2" placeholder="2018/07/26">
    </td>
</tr>
<br />
<br />
<tr>
    <td>
        <label for="query3" class="col-sm-2 col-form-label">股票代碼</label>
    </td>
    <td>
        <input type="text" class="form-control col-sm-2" id="query3" placeholder="1234">
    </td>
    &nbsp;
    <td>
        <button type="button" class="btn btn-primary">查詢</button>
        <button type="button" class="btn btn-danger">清除</button>
    </td>
</tr>
<br />
<br />
<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">投組名稱</th>
            <th scope="col">報告日期</th>
            <th scope="col">有效日期</th>
            <th scope="col">依據編號</th>
            <th scope="col">證券代碼</th>
            <th scope="col">證券名稱</th>
            <th scope="col">買進</th>
            <th scope="col">賣出</th>
            <th scope="col">買進價格(以下)</th>
            <th scope="col">賣出價格(以上)</th>
            <th scope="col">依據</th>
            <th scope="col">動作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>A</td>
            <td>2018/07/25</td>
            <td>2019/07/25</td>
            <td>001</td>
            <td>2303</td>
            <td>聯電</td>
            <td>99</td>
            <td>99</td>
            <td>15.5</td>
            <td>25.5</td>
            <td>source1</td>
            <td>
                <button type="button" class="btn btn-primary">編輯</button>
                <button type="button" class="btn btn-danger">刪除</button>
            </td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>B</td>
            <td>2018/07/25</td>
            <td>2019/07/25</td>
            <td>002</td>
            <td>2323</td>
            <td>中環</td>
            <td>99</td>
            <td>99</td>
            <td>15.5</td>
            <td>25.5</td>
            <td>source1</td>
            <td>
                <button type="button" class="btn btn-primary">編輯</button>
                <button type="button" class="btn btn-danger">刪除</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>C</td>
            <td>2018/07/25</td>
            <td>2019/07/25</td>
            <td>003</td>
            <td>2884</td>
            <td>玉山金</td>
            <td>99</td>
            <td>99</td>
            <td>15.5</td>
            <td>25.5</td>
            <td>source1</td>
            <td>
                <button type="button" class="btn btn-primary">編輯</button>
                <button type="button" class="btn btn-danger">刪除</button>
            </td>
        </tr>
    </tbody>
</table>
<footer>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</footer>
