@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>使用者權限設定</h2>
<br />

<style>
    h2{
        font-family : '微軟正黑體';
        font-weight : bold;
        color : royalblue;
    }

    table {
        font-family: '微軟正黑體';
    }

</style>
<form>
    <div class="form-group row">
        <label for="inputEmail3" class="col-md-1 col-form-label">使用者名稱</label>
        <div class="col-sm-4">
            <select class="form-control" multiple>
                <option value="Taiwan">Tina</option>
                <option value="Taiwan">Mary</option>
                <option value="Taiwan">Tom</option>
                <option value="Taiwan">John</option>
                <option value="Taiwan">Lily</option>
            </select>
        </div>
        <label for="inputEmail3" class="col-md-1 col-form-label">選擇基金</label>
        <div class="col-sm-4">
            <select class="form-control">
                <option value="Taiwan">債券基金</option>
                <option value="Taiwan">貨幣基金</option>
                <option value="Taiwan">指數基金</option>
                <option value="Taiwan">貴金屬基金</option>
            </select>
        </div>
    </div>    
    <hr />
    <table class="table table-hover table-bordered">
        <tr>
            <th>#</th>
            <th>功能項目</th>
            <th>查詢</th>
            <th>新增</th>
            <th>修改</th>
            <th>刪除</th>
            <th>列印</th>
            <th>匯出</th>
        </tr>
        <tr>
            <th>(一)</th>
            <th>系統整合資訊部分</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>1</th>
            <th>金融商品資料管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <th>系統工具管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>(二)</th>
            <th>系統工具管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>1</th>
            <th>定期存款管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <th>證券管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <th>借券還券管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>4</th>
            <th>受益憑證管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>5</th>
            <th>債券管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>6</th>
            <th>短票管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>7</th>
            <th>債券附條件管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>8</th>
            <th>特別股管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>9</th>
            <th>期貨管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>10</th>
            <th>另類投資管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>11</th>
            <th>外幣定期存款管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>12</th>
            <th>國外證券管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>13</th>
            <th>國外債券管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>14</th>
            <th>遠期外匯管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>15</th>
            <th>決策系統功能管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>(三)</th>
            <th>投資稽核控管整合系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>1</th>
            <th>投組基本資料管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <th>交易傳輸管理子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <th>稽核法規子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>4</th>
            <th>績效評比子系統</th>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
            <td>
                <div style="text-align:center">
                    <input type="checkbox">
                    <label for="subscribeNews"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="4">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-success">送審</button>
                        <button type="button" class="btn btn-danger">清除</button>
                    </div>
                </div>
            </th>
        </tr>
    </table>
</form>
